# Distribution folders


# Generated ouputs
console-manifest.json
dist
.coverage
coverage.xml
*pycache*
npm-debug.log

*.xml
reports
*.pyc
.eggs
*.egg-info
.venv
.cache
.pytest_cache
.mypy_cache
.scannerwork
build

# Node dependencies
node_modules

# Misc
.DS_Store
.idea/
*sonarlint*
docs
test.sh
